<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  p {
    color: #555555;
    margin-bottom: 20px;
  }

</style>

<div class="container">
  <p>Oferta a fost înregistrată cu succes !
    Mai jos aveți atașat un pdf ce conține detaliile despre comanda dumneavoastră !
  </p>
  <p>Daca nu ați solicitat acest email, puteți să îl ignorați.</p>
  <p>Acest email este generat automat. Vă rugăm să nu trimiteți un răspuns.</p>
</div>
